<% include partials/landing %>

<header>
    <a href="/pokestops">
        <h1>PokeStop Reviews</h1>
        <p>Click here for the best PokeStops!</p>
    </a>
</header>

<% include partials/footer %>