@import 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900'; 

body {
  background: url(https://lh3.googleusercontent.com/2go-cui5Ofq644hmeTOVLxs8b4kqRHNtg0AwG7_eEl90hVzPmfAX1vomEktt9w_E9POtI2pTtxLHYiNKwl6bRkz9RJxfpa3tR8Jpw5ytcgJZP39679xhy7VUH79ApZFfWjwa0-EYtzzbs6XZ6LorsrstU08_B6u1Tn-tHVgMVdbYbHvVryIJ-nUdbYP4h15mhCO2dge1bEMIYdbw_syExGxiTlEaNtzmFdN2Nv52t-tG-64au4dYCYPDeqfZAx7ZqTnfUjKXMtXTxu7KIABRq_BU0J4kB_eNMZ6nEYZXrXojkdqOrbCl4hMc5m9NZOy7OHrclJO84qTC-vvgtqT_WBYscm4M8Zsz64AU4eSTyDpCWqux_aEfz9AdShbb54Dv0Db2RnNof6_FMKl60r1n3iueHYv3V-ktmrBb1JiNFAkMcoAZ-iIaSN14IIsEQmVutoRnYE0HULX2tuU_yhdRqJALTL4NjGpEha1jdRqRkh0VsUM9rbYynJoaWFZcLzHahFCiJMcvU2XAytVljGyM5YP20bZx7oF0REI6bUXmx1umJqFsEhQdoenMlbgxo23duLbdKlSlZBMwuzJtq0MQtBfeY6mvBj9vIfG7BtRa3KhquQCo=w1895-h831-no) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  margin: 0;
  font-size: 3em;
  white-space: nowrap;
}
p {
  margin: 0;
  font-size: 1.5rem;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
} 

.delete-form {
    display: inline;
}

.navbar {
    margin: 0px;
    border-radius: 0px;
    border-bottom: 2px solid red;
}

.navbar-default {
  background-color: #dbf6fb;
  border-color: #aaecf2;
}
.navbar-default .navbar-brand {
  color: #424b4d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #5291ac;
}
.navbar-default .navbar-text {
  color: #424b4d;
}
.navbar-default .navbar-nav > li > a {
  color: #424b4d;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #5291ac;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #5291ac;
  background-color: #aaecf2;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #5291ac;
  background-color: #aaecf2;
}
.navbar-default .navbar-toggle {
  border-color: #aaecf2;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #aaecf2;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #424b4d;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #424b4d;
}
.navbar-default .navbar-link {
  color: #424b4d;
}
.navbar-default .navbar-link:hover {
  color: #5291ac;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #424b4d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #5291ac;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #5291ac;
    background-color: #aaecf2;
  }
}